################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs
DEBUG
/Lab/01/C++/Лабораторная 1/MyServer/weather
